/* --- 1. 全域基礎設定 --- */
* { 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}

body {
    background-color: #EEEBE2; 
    font-family: 'Noto Serif TC', serif;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    overflow: hidden;   
}

/* --- 2. 測驗主容器  */
.test-container {
    width: 100%;
    max-width: 500px; 
    height: 100vh;      
    background: #877566; 
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;   
}

.page-container {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.hidden {
    display: none !important;
}

/*  3. 封面頁  */

.cover-img-box {
    top: 40px;
    right:13px;
    width: 100%;
    height: 80%;        
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.cover-img-box img {
    width: 70%;
    height: 100%;
    object-fit: cover;  

}

.cover-text {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #EEEBE2;
    text-align: center;
    width: 90%;
    z-index: 10;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.7);
}

.cover-text p {
    padding-top: 10px;
    opacity: 0.8;
    font-size: 0.9rem;
    line-height: 1.5;
}

.start-btn {
    margin-top: auto;  
    margin-bottom: 5px; 
    width: 50%;
    background-color: #C0A080; 
    color: #EEEBE2; 
    border: none;
    padding: 12px; 
    border-radius: 30px; 
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: bold;
    transition: 0.1s;
    font-family: 'Noto Serif TC', serif;
}

.start-btn:hover { opacity: 0.8; }
.start-btn:active { transform: scale(0.95); }

/* 4. 題目頁 */

.progress-dots {
    display: flex; justify-content: center; align-items: center;
    gap: 40px; margin-bottom: 20px; width: 100%;
    position: relative; padding: 15px 0;
}

.dot { 
    width: 8px; height: 8px; 
    border: 1px solid rgba(238, 235, 226, 0.5); 
    border-radius: 50%; 
    position: relative; z-index: 5; 
}

.dot.active { background: #A3A69C; border-color:#EEEBE2; }

.progress-dots::before { 
    content: " "; position: absolute; top: 50%; left: 15%; right: 15%; 
    height: 1px; background: rgba(238, 235, 226, 0.2); z-index: 1; 
}

.dot.active::after {
    content: "☀"; color: #EEEBE2;
    position: absolute; top: -20px; left: -2px; font-size: 12px;
}

.question-text {
    font-size: 1.15rem; line-height: 1.6; color: #EEEBE2;
    text-align: center; width: 100%; margin-bottom: 20px;
}

.options-list {
    margin-top: auto; 
    margin-bottom: 40px; 
    width: 90%;
}

.option-btn {
    width: 100%; ; border: 1.5px solid #C0A080;
    color: #EEEBE2;
    background-color: #877566;
    padding: 14px; border-radius: 30px;
    margin-bottom: 12px; text-align: center; font-size: 1rem;
    cursor: pointer; font-family: 'Noto Serif TC', serif;
    transition: 0.2s;
}

.option-btn:hover { background-color:#C0A080; }

/* 5. 結果頁   */

.result-page {
    width: 100%; height: 100%;
    background-color: #877566; color: #EEEBE2;
    padding: 25px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.result-header-text {
    font-weight: bold; margin-bottom: 15px;
    color:#C0A080; font-size: 1.2rem; text-align: left;
}

.result-flex { 
    display: flex; gap: 15px; margin-bottom: 15px; align-items: flex-start;
}

.result-flower-img { width: 40%; aspect-ratio: 1; }
.result-flower-img img { width: 100%; height: 100%; object-fit: cover; }

.result-flower-info { flex: 1; font-weight: bold; font-size: 0.8rem; text-align: left; }
.info-line { border-bottom: 1px solid #EEEBE2; padding: 5px 0; margin-bottom: 8px; font-size: 0.85rem; }

.divider { border-top: 1.5px #A3A69C double; margin: 15px 0; }

.recommend-title { font-weight: bold; margin-bottom: 15px; text-align: left; color:#C0A080; font-size: 1.2rem; }
.recommend-flex { display: flex; gap: 15px; align-items: center; }
.recommend-img { width: 40%; height: 100%; border: 1px solid #A3A69C; overflow: hidden; }
.recommend-img img { width: 100%; height: 100%; object-fit: cover; }

.go-btn {
    display: block; width: 100%; border: 1.5px solid #A3A69C;
    font-size: 13px; text-align: center; padding: 10px 0; 
    border-radius: 20px; color: #EEEBE2; text-decoration: none; 
    margin-top: auto; margin-bottom: 3px; 
    transition: 0.3s;
}

.go-btn:hover { background-color: #A3A69C; }

/* 返回連結 */
.back-home {
    position: absolute; top: 25px; left: 25px;
    color: #877566; text-decoration: none; font-size: 20px; z-index: 1000;
    transition: 0.3s ease;
    &:hover {
        color: #9d8768;
        left: 27.5px;
    }
}