* { box-sizing: border-box; margin: 0; padding: 0; }

body {
    background-color: #eeebe2;
    color: #3a3a3a;
    font-family: 'Noto Serif TC', serif;
}

/* 導覽列 */
.navbar {
    display: flex; justify-content: space-between; align-items: center;
    padding: 20px 5%; background: #A3A69C; 
    position: sticky; top: 0; z-index: 1000;
}

.navbarp {
    font-style: normal;
    font-weight: bold;
    margin-left: 110px;
    font-size: 1.5rem;
    color: #eeebe2;
}

.nav-icon { font-size: 1.3rem; color: #eeebe2; cursor: pointer; }

/* 容器排版 */
.cart-container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 0 5%;
}

.border-box { border: 1px solid #705844; }
.mini-border { border: 1px solid #705844; border-radius: 15px; overflow: hidden; }

/* 項目列表 */
.cart-items {
    display: flex; flex-direction: column; gap: 40px; margin-bottom: 60px;
}

.cart-item {
    display: flex; gap: 30px;
    margin-bottom: 30px;
    align-items: stretch; 
}

.item-img-box {
    flex: 0 0 150px;
    aspect-ratio: 1;
    overflow: hidden;
}
.item-img-box img { width: 100%; height: 100%; object-fit: cover; }

.item-details {
    flex: 1;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    gap: 10px;
}

.detail-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    padding: 5px 0;
}

.align-right { align-items: flex-end; }

.label { font-size: 1rem; color: #3a3a3a; font-weight: bold; }
.value,.price { font-size: 0.9rem; color: #705844; }

/* 數量調整器 */
.quantity-selector {
    display: flex; align-items: center; width: fit-content;
}
.qty-btn { background: #A3A69C; color: #fff; border: none; padding: 2px 10px; cursor: pointer; }
.qty-input { width: 40px; text-align: center; border: none; background: transparent; font-family: inherit; }

.delete-icon { font-size: 1.2rem; color: #705844; cursor: pointer; }
.subtotal-label { font-weight: bold; }

/* 底部結帳區 */
.cart-footer {
    border-top: 1px solid #705844;
    padding-top: 30px;
    margin-bottom: 50px;
}

.footer-align-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.total-group {
    display: flex;
    align-items: center;
    gap: 15px;
}

.total-label { font-weight: bold; font-size: 1.2rem; }


.footer-btns {
    display: flex;
    gap: 15px;
}

.btn {
    padding: 10px 30px; border: none; border-radius: 5px;
    font-family: 'Noto Serif TC', serif; cursor: pointer; transition: 0.3s;
}
.btn-secondary { background: #a3b3b2; color: #fff; font-weight: bold; }
.btn-primary { background:#A3A69C; color: #fff; font-weight: bold;}


/* 響應式 */
@media (max-width: 768px) {
    .item-details { grid-template-columns: 1fr 1fr; gap: 20px; }
    .footer-align-wrapper { flex-direction: column; gap: 20px; align-items: flex-start; }
    .total-line { width: 150px; }
}