/* --- 側邊面板 (分類與搜尋) --- */
.side-panel {
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    background: #f4f1de;
    transition: 0.3s ease;
    z-index: 2000;
    padding: 30px 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

    &.active {
        left: 0;
    }

    h2 {
        color: #705844;
        font-size: 1.5rem;
        margin-bottom: 20px;
        border-bottom: 0.8px solid #705844;
        padding-bottom: 10px;
    }

    /* 分類列表 */
    .list {
        list-style: none;
        padding: 0;

        li {
            font-size: 1rem;
            color: #3a3a3a;
            padding: 15px 0;
            border-bottom: 1px solid rgba(112, 88, 68, 0.2);
            cursor: pointer;
            transition: all 0.3s ease;

            a {
                text-decoration: none;
                color: inherit;
                display: block;
                width: 100%;
            }

            &:hover {
                color: #c0a080;
                padding-left: 10px;
            }

            &:first-child {
                font-weight: 700;
                letter-spacing: 1px;
            }
        }
    }

    /* 搜尋框樣式 */
    .search-bar {
        display: flex;
        align-items: center;
        border: 1px solid #705844;
        border-radius: 20px;
        padding: 8px 15px;
        margin-bottom: 30px;

        input {
            border: none;
            background: transparent;
            width: 100%;
            outline: none;
            font-family: 'Noto Serif TC', serif;
        }

        i {
            color: #705844;
        }
    }

    /* 搜尋建議清單 */
    .suggestions {
        list-style: none;
        padding: 0;
        margin-top: 10px;

        li {
            font-size: 15px;
            border-bottom: 1px solid #705844;
            opacity: 0.8;
            padding: 10px 0px;

            &:hover {
                background-color: #e9e4d4;
            }
        }
    }
}

/* --- 遮罩層 --- */
.menu-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: transparent;
    visibility: hidden;
    z-index: 1500;
    transition: 0.3s ease;

    &.active {
        visibility: visible;
        background: rgba(0, 0, 0, 0.5);
    }
}